@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root
{
    --bg-white-900:#f2f2fc;
    --bg-white-100:#fdf9ff;
    --bg-white-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}

body
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after
{
    box-sizing: border-box;
}

ul
{
    list-style: none;
}

.section
{
    background: var(--bg-white-50);
    height: 120vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

/* .hidden
{
    display: none !important;
} */

.main-content
{
    padding-left: 250px;
}

.padd-15
{
    padding-left: 1%;
    padding-right: 1%;
}
.container
{
    max-width: 1100px;
    width: 100%;
    /* background-color: lightpink ; */
    margin: auto;
}

.section .container
{
    padding-top: 8%;
    padding-right: 3%;
    padding-bottom: 10%;
    padding-left: 3%;
    /* padding: 50px 0px 70px 20px; */
}

.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2
{
    font-size: 30px;
    /* color: var(--text-black-900); */
    font-weight: 700;
    position: relative;
    text-align: center;
}

.section-title h2 span
{
    color: crimson;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: darkblue;
    box-shadow: 1px 1px 7px darkblue;
    transition: all 0.2s ease;
}

.btn:hover
{
    color: white;
    filter: brightness(150%);
    cursor: pointer;
    box-shadow: 1px 1px 7px darkblue;
}

.shadow-dark
{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}

/* aside */
.aside
{
    width: 270px;
    background: var(--bg-white-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-white-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a
{
    /* color: var(--text-black-900); */
    color: #000;
    font-weight: 700;
    /* padding: 15px 15px; */
    letter-spacing: 0px;
    position: relative;
}

.aside .logo a sup
{
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
}

.aside .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-white-50);
    cursor: pointer;
    position: fixed;
    left: 300px; 
    top: 20px; 
    border-radius: 5px;
    background: var(--bg-white-100);
    display: none; 
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--text-black-900);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--text-black-900);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--text-black-900);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav
{
    margin-top: 50px;
}

.aside .nav li
{
    margin-bottom: 25px;
    display: block;
}

.aside .nav li a
{
    font-size: 15px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-white-50);
    color: #000;
    padding: 2px 15px;
    cursor: pointer;

}

.aside .nav li a.active
{
    color: orangered;
    border-bottom: 1px solid orangered;    
} 

.aside .nav li a:hover
{
    color: orangered;
    border-bottom: 1px solid orangered;

}

.aside .nav li a i
{
    margin-right: 10px;
}

/* Home Section*/
.home 
{
    display: flex;
    color: var(--text-black-900);
    background-color: white;
}

.home .home-info
{
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello
{
    font-size: 30px;
    color: #000;
}

h3.name
{
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

h3.my-profession
{
    font-size: 30px;
    margin-bottom: 10px;
    color: #000;
}

h3.my-profession span
{
    color: orangered;
}

.home-info p
{
    margin-bottom: 60px;
    font-size: 17px;
    color: var(--text-black-900);
}

.social {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px 0;

    a {
        text-decoration: none;
        background: transparent;
        color: #000;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
        border: 2px solid var(--text-black-900);

        i {
            font-size: 23px;
        }

        &:hover {
            color: #fff;
            background: #000;
            transform: translateY(-5px);
        }
    }
}

.home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

/* .home-img::before
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--text-black-900);
    border-left: 10px solid var(--text-black-900);
    left: 30px;
    top: -50px;
    border-radius: 5px;
}

.home-img::after
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--text-black-900);
    border-right: 10px solid var(--text-black-900);
    right: 30px;
    bottom: 75px;
    border-radius: 5px;
} */

.home .home-img img
{
    margin: auto;
    border-radius: 10px;
    height: 300px;
}

/* About Section*/
.about
{
    background-color: azure;
}

.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0.5%;  
}

.about .about-content .about-text h3
{
    font-size: 25px;
    margin-bottom: 5px;
}

.about .about-content .about-text p1
{
    font-weight: 500;
}

.about .about-content .about-text p
{
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;
}

.about .about-content .personal-info
{
   flex: 0 0 60%;
   max-width: 60%;
   margin-top: 30px;
}

.about .about-content .personal-info .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 1.4%;
}

.about .about-content .personal-info .info-item p
{
   font-weight: 500;
   padding: 10px 0;
   font-size: 16px;
}

.about .about-content .personal-info .info-item p b
{
    font-weight: 600;
}

.about .about-content .personal-info .info-item p span
{
    font-weight: 400;
    margin-left: 1%;
    display: inline-block;
}

.about .about-content .personal-info .button
{
    margin-top: 30px;
}

/* Education Section*/
.education
{
    background-color: white;
}

.education .section-title h2 span
{
    color: crimson;
}

.education .section-title p
{
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
}

.education .edu
{
    flex: 0 0 100%;
    max-width: 100%;
}

.education .edu .timeline-box1,
.education .edu .timeline-box2,
.education .edu .timeline-box3
{
   flex: 0 0 100%;
   max-width: 75%; 
   margin-left: 150px;
   margin-right: 50px;
   background-color: lightgoldenrodyellow;
   padding: 30px 15px;
   border: 1px solid var(--bg-white-50);
   border-radius: 10px;
   position: relative;
   transition: all 0.2s ease-in;
   cursor: pointer;
}

.education .edu .timeline-box1
{
    margin-top: -30px;
}

.education .edu .timeline-box2
{
   margin-top: 20px;
}

.education .edu .timeline-box3
{
   margin-top: 20px;
}

.education .edu .timeline-box1:hover,
.education .edu .timeline-box2:hover,
.education .edu .timeline-box3:hover
{
    transform: scale(1.02);
    box-shadow: 5px 5px 10px rgba(48,46,77,0.15);
}

.education .edu .timeline1 .timeline-item img,
.education .edu .timeline2 .timeline-item img
{
    width:23%;
    position: absolute;   
    border-radius: 10px;    
} 

.education .edu .timeline3 .timeline-item img
{
    width:23%;
    height: 65%;
    position: absolute;   
    border-radius: 10px;  
}

.education .edu .timeline-item .timeline-title1, 
.education .edu .timeline-item .timeline-title2,
.education .edu .timeline-item .timeline-title3
{
    color: navy;
    font-size: 22px;
    font-weight: 600;
    margin-left: 26%;
}

.education .edu .timeline-item .timeline-name1, 
.education .edu .timeline-item .timeline-name2,
.education .edu .timeline-item .timeline-name3
{
    font-weight: 400;
    margin-left: 26%;
}

.education .edu .timeline-item .timeline-date1, 
.education .edu .timeline-item .timeline-date2,
.education .edu .timeline-item .timeline-date3
{
    color: green;
    font-size: 20px;
    font-weight: 500;
    margin-left: 26%;
}

/* Skills Section*/
.skills
{
    background-color: indigo;
}

.skills .section-title h2
{
    color: white;
}

.skills .section-title h2 span
{
    color: yellow;
}

.skills .service-item1,
.skills .service-item6
{
    padding-left: 8.5%;
}

.skills .service-item1 .service-item1-inner,
.skills .service-item2 .service-item2-inner,
.skills .service-item3 .service-item3-inner,
.skills .service-item4 .service-item4-inner,
.skills .service-item5 .service-item5-inner,
.skills .service-item6 .service-item6-inner,
.skills .service-item7 .service-item7-inner,
.skills .service-item8 .service-item8-inner,
.skills .service-item9 .service-item9-inner,
.skills .service-item10 .service-item10-inner
{
    background-color: beige;
    /* border: 1px solid rgb(5, 5, 49); */
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.skills .service-item1 .service-item1-inner:hover,
.skills .service-item2 .service-item2-inner:hover,
.skills .service-item3 .service-item3-inner:hover,
.skills .service-item4 .service-item4-inner:hover,
.skills .service-item5 .service-item5-inner:hover,
.skills .service-item6 .service-item6-inner:hover,
.skills .service-item7 .service-item7-inner:hover,
.skills .service-item8 .service-item8-inner:hover,
.skills .service-item9 .service-item9-inner:hover,
.skills .service-item10 .service-item10-inner:hover
{
    transform: scale(1.01);
    box-shadow: 6px 10px 10px rgb(5, 5, 49);
    background-color: rgb(5, 5, 49);
    color: var(--bg-white-900);
}

.skills .service-item1 .service-item1-inner .icon,
.skills .service-item2 .service-item2-inner .icon,
.skills .service-item3 .service-item3-inner .icon,
.skills .service-item4 .service-item4-inner .icon,
.skills .service-item5 .service-item5-inner .icon,
.skills .service-item6 .service-item6-inner .icon,
.skills .service-item7 .service-item7-inner .icon,
.skills .service-item8 .service-item8-inner .icon,
.skills .service-item9 .service-item9-inner .icon,
.skills .service-item10 .service-item10-inner .icon
{
  height: 60px;
  width: 60px;
  display: block;
  margin: 0 50px 55px ;
}

.skills .service-item1 .icon img,
.skills .service-item2 .icon img,
.skills .service-item3 .icon img,
.skills .service-item4 .icon img,
.skills .service-item5 .icon img,
.skills .service-item6 .icon img,
.skills .service-item7 .icon img,
.skills .service-item8 .icon img,
.skills .service-item9 .icon img,
.skills .service-item10 .icon img
{
    max-width: 100%;
    margin-top: 25px;
}

.skills .service-item1 .service-item1-inner h4,
.skills .service-item2 .service-item2-inner h4,
.skills .service-item3 .service-item3-inner h4,
.skills .service-item4 .service-item4-inner h4,
.skills .service-item5 .service-item5-inner h4,
.skills .service-item6 .service-item6-inner h4,
.skills .service-item7 .service-item7-inner h4,
.skills .service-item8 .service-item8-inner h4,
.skills .service-item9 .service-item9-inner h4,
.skills .service-item10 .service-item10-inner h4
{
    margin-bottom: 20%;
}

/* Experience Section*/
.experience
{
    background-color: azure;
}

.experience .exp
{
    flex: 0 0 100%;
    max-width: 100%;
}

.experience .exp .timeline-box1
{
    flex: 0 0 100%;
    max-width: 75%; 
    margin-left: 150px;
    margin-right: 50px;
    background-color: lightgoldenrodyellow;
    padding: 30px 15px;
    border: 1px solid var(--bg-white-50);
    border-radius: 10px;
    position: relative;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.experience .exp .timeline-box1:hover
{
    transform: scale(1.02);
    box-shadow: 5px 5px 10px rgba(48,46,77,0.15);
}

.experience .exp .timeline1 .timeline-item img
{
    width:22%;
    height: 70%;
    position: absolute;   
    border-radius: 10px; 
    margin-top: -0.9%;
} 

.experience .exp .timeline-item .timeline-title1
{
    color: navy;
    font-size: 22px;
    font-weight: 600;
    margin-left: 25%;
}

.experience .exp .timeline-item .timeline-name1
{   
    font-weight: 400;
    margin-left: 25%;
}

.experience .exp .timeline-item .timeline-date1
{
    color: green;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25%;
}

/* Work Section*/
.work
{
    background-color: darkblue;
}

.work .container
{
    padding-bottom: 1%;
}

.work .section-title h2
{
    color: white;
}

.work .section-title h2 span
{
    color: yellow;
}

.work .project-item1,
.work .project-item4
{
    padding-left: 6%;
}

.work .project-item1 .project-item1-inner,
.work .project-item2 .project-item2-inner,
.work .project-item3 .project-item3-inner,
.work .project-item4 .project-item4-inner,
.work .project-item5 .project-item5-inner,
.work .project-item6 .project-item6-inner
{
    background-color: beige;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.work .project-item1 .project-item1-inner:hover,
.work .project-item2 .project-item2-inner:hover,
.work .project-item3 .project-item3-inner:hover,
.work .project-item4 .project-item4-inner:hover,
.work .project-item5 .project-item5-inner:hover,
.work .project-item6 .project-item6-inner:hover
{
    transform: translateY(-5%);
    box-shadow: 2px 2px 10px lightskyblue;
}

.work .project-item1 .project-item1-inner .icon,
.work .project-item2 .project-item2-inner .icon,
.work .project-item3 .project-item3-inner .icon,
.work .project-item4 .project-item4-inner .icon,
.work .project-item5 .project-item5-inner .icon,
.work .project-item6 .project-item6-inner .icon
{
  height: 50px;
  width: 100px;
  display: block;
  margin: 0 100px 130px ;
}

/* .work .project-item1 .icon img,
.work .project-item2 .icon img,
.work .project-item3 .icon img,
.work .project-item4 .icon img,
.work .project-item5 .icon img,
.work .project-item6 .icon img
{
    max-width: 200%;
    margin-top: 50%;
    position: static;
} */

.work .project-item1 .project-item1-inner h4,
.work .project-item2 .project-item2-inner h4,
.work .project-item3 .project-item3-inner h4,
.work .project-item4 .project-item4-inner h4,
.work .project-item5 .project-item5-inner h4,
.work .project-item6 .project-item6-inner h4
{
    margin-bottom: 15%;
}

/* Contact Section*/
.contact
{
    background-color: azure;
}
  
.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .bg
{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 10px var(--text-black-700);
    max-width: 90%;
    height: 100%;
    margin-left: 5%;
}

.contact .contact-form .bg img
{
    width: 40%;
    position: absolute;
    margin: 4% 9% 5% 2%;
}

.contact .contact-form .form-item1
{
    padding-left: 55%;
    margin-top: 3%;
}

.contact .contact-form .form-item2,
.contact .contact-form .form-item3,
.contact .contact-form .form-item4
{
    padding-left: 55%;
    margin-top: 2%;
    /* margin-bottom: 3%; */
}

.contact .contact-form .form-item1 .form-control,
.contact .contact-form .form-item2 .form-control,
.contact .contact-form .form-item3 .form-control
{
   width: 200%; 
   height: 50px;
   border: 1px solid var(--text-black-900);
   border-radius: 5px;
   background-color: rgb(243, 243, 243);
   padding: 12px 12px;
}

.contact .contact-form .form-item1 .form-control:focus,
.contact .contact-form .form-item2 .form-control:focus,
.contact .contact-form .form-item3 .form-control:focus
{
    box-shadow: 0 0 10px rgba(48,46,77,0.3);
}

.contact .contact-form .form-item4 .form-control
{
    border: 1px solid var(--text-black-900);
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    padding: 12px 12px;
}

.contact .contact-form .form-item4 .form-control:focus
{
    box-shadow: 0 0 20px rgba(48,46,77,0.3);
}

.contact .contact-form .form-item5
{
    padding-left: 79.5%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.btn5
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 30px;
    color: var(--bg-white-900);
    display: inline-block;
    white-space: nowrap;
    border: none;
    border-radius: 5px;
    background-color: darkblue;
    transition: all 0.2s ease;
    box-shadow: 1px 1px 7px darkblue;
}

.btn5:hover
{
    color: white;
    filter: brightness(150%);
    cursor: pointer;
    box-shadow: 1px 1px 7px darkblue;
}

.contact .contact-form .form-item5 .form-group5 i
{
    margin-left: 10%;
}

/* Footer Section */
.footer
{
    height: 50vh;
    background-color: rgb(3, 3, 44);
    color: var(--bg-white-900);
    font-family: 'Open Sans', sans-serif;
}

.footer .footer-row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 4%;
}

.footer .footer-row .footer-col h4
{
    font-size: 25px;
    font-weight: 500;
}

.footer .footer-col .links
{
    margin: 10%;
}

.footer .footer-col .links li
{
    list-style: none;
    margin-bottom: 5%;
    margin-left: -10%;
    font-size: 15px;
    cursor: pointer;
}

.footer .footer-col .links li a
{
    color: #f2f2fc;
}

.footer .footer-col .links li a:hover
{
    color: #f5cb32;
}

.footer .footer-col p
{
    margin: 3% 0;
}

.footer .footer-col .icons
{
    display: flex;
    margin-top: 5%;
    gap: 5%;
    cursor: pointer;
}

.footer .footer-col .icons i
{
    color: var(--bg-white-900);
    transition: all 0.3s ease;
}

.footer .footer-col .icons i:hover
{
    color: antiquewhite;
    transform: scale(1.3);
}

.footer .footer-col .icons:hover
{
    color: #f5cb32;
}

.footer p1 
{
    margin-left: 40%;
}

.footer p1 span
{
    color: #f5cb32;
}

.footer hr
{
    height: 0.5px; 
    margin: -2% 4% 2% 4%; 
    filter: brightness(70%);
}

/* Responsive */
/* Media Query */
/* @media (max-width:1199px)
{
    .aside
    {
        left: -270px;
    }
    .main-content
    {
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p span
    {
        display: block;
    }
    .contact .contact-form .form-item4 textarea
    {
        width: 104%;
    }
    .contact .contact-form .form-item5 .btn5    
    {
        margin-left: 4%;
    }
} */

/* @media (max-width:991px)
{
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img img
    {
        margin-top: 15%;
        margin-left: 75%;
    }
    .about .about-content
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .education .edu
    {
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: -7%;
    }
    .skills
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .skills .service-item1
    {
        margin-left: 10%;
    }
    .skills .service-item4
    {
        margin-left: 16.5%;
    }
    .skills .service-item6
    {
        margin-left: -6.4%;
    }
    .skills .service-item7,
    .skills .service-item10
    {
        margin-left: 16.4%;
    }
    .experience .exp 
    {
        margin-left: -7%;
    }
    .work .project-item1
    {
        margin-left: 3.5%;
    }
    .work .project-item3,
    .work .project-item5
    {
        margin-left: 7.2%;
    }
    .work .project-item4
    {
        margin-left: -3.5%;
    }
    .contact .contact-form .bg img 
    {
        width: 0%;
    }
    .contact .contact-form .form-item1,
    .contact .contact-form .form-item2,
    .contact .contact-form .form-item3,
    .contact .contact-form .form-item4
    {
        margin-left: -48%;
        width: 99.1%;
    }    
    .contact .contact-form .form-item4 textarea
    {
        width: 200%;
    }
    .contact .contact-form .form-item5 .btn5    
    {
        margin-left: -30%;
    }
} */
