@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root
{
    --bg-white-900:#f2f2fc;
    --bg-white-100:#fdf9ff;
    --bg-white-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}

body
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after
{
    box-sizing: border-box;
}

ul
{
    list-style: none;
}

.section
{
    background: var(--bg-white-50);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

/* .hidden
{
    display: none !important;
} */

.main-content
{
    padding-left: 250px;
}

.padd-15
{
    padding-left: 1%;
    padding-right: 1%;
}
.container
{
    max-width: 1100px;
    width: 100%;
    /* background-color: lightpink ; */
    margin: auto;
}

.section .container
{
    padding-top: 50px;
    padding-bottom: 70px;
}

.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2
{
    font-size: 30px;
    /* color: var(--text-black-900); */
    font-weight: 700;
    position: relative;
    text-align: center;
}

.section-title h2 span
{
    color: darkmagenta;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    color: var(--bg-white-900);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: #000;
    transition: all 0.2s ease-in;
}

.btn:hover
{
    transform: scale(1.08);
    color: yellow;
}

.shadow-dark
{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}

/* aside */
.aside
{
    width: 270px;
    background: var(--bg-white-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-white-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a
{
    /* color: var(--text-black-900); */
    color: #000;
    font-weight: 700;
    /* padding: 15px 15px; */
    letter-spacing: 0px;
    position: relative;
}

.aside .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-white-50);
    cursor: pointer;
    position: fixed;
    left: 300px; 
    top: 20px; 
    border-radius: 5px;
    background: var(--bg-white-100);
    display: none; 
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--text-black-900);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--text-black-900);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--text-black-900);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav
{
    margin-top: 50px;
}

.aside .nav li
{
    margin-bottom: 25px;
    display: block;
}

.aside .nav li a
{
    font-size: 15px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-white-50);
    color: #000;
    /* color: var(--text-black-900); */
    padding: 2px 15px;
}

.aside .nav li a.active
{
    color: orangered;
} 

.aside .nav li a i
{
    margin-right: 10px;
}

/* Home Section*/
.home 
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
    background-color: white;
}

.home .home-info
{
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello
{
    font-size: 30px;
    color: #000;
}

h3.name
{
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

h3.my-profession
{
    font-size: 30px;
    margin-bottom: 10px;
    color: #000;
}

h3.my-profession span
{
    color: orangered;
}

.home-info p
{
    margin-bottom: 60px;
    font-size: 17px;
    color: var(--text-black-900);
}

.social {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px 0;

    a {
        text-decoration: none;
        background: transparent;
        color: #000;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
        border: 2px solid var(--text-black-900);

        i {
            font-size: 23px;
        }

        &:hover {
            color: #fff;
            background: #000;
            transform: translateY(-5px);
        }
    }
}

.home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-img::before
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--text-black-900);
    border-left: 10px solid var(--text-black-900);
    left: 30px;
    top: -50px;
    border-radius: 5px;
}

.home-img::after
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--text-black-900);
    border-right: 10px solid var(--text-black-900);
    right: 30px;
    bottom: 75px;
    border-radius: 5px;
}

.home .home-img img
{
    margin: auto;
    border-radius: 10px;
    height: 300px;
}

/* About Section*/
.about
{
    background-color: azure;
}

.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;  
}

.about .about-content .about-text h3
{
    font-size: 25px;
    margin-bottom: 5px;
}

.about .about-content .about-text p1
{
    font-weight: 500;
}

.about .about-content .about-text p
{
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;
}

.about .about-content .personal-info
{
   flex: 0 0 60%;
   max-width: 60%;
   margin-top: 30px;
}

.about .about-content .personal-info .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 1.4%;
}

.about .about-content .personal-info .info-item p
{
   font-weight: 500;
   padding: 10px 0;
   font-size: 16px;
}

.about .about-content .personal-info .info-item p b
{
    font-weight: 600;
}

.about .about-content .personal-info .info-item p span
{
    font-weight: 400;
    margin-left: 1%;
    display: inline-block;
}

.about .about-content .personal-info .button
{
    margin-top: 30px;
}

/* Education Section*/
.education
{
    background-color: white;
}

.education .section-title h2 span
{
    color: crimson;
}

.education .section-title p
{
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
}

.education .edu
{
    flex: 0 0 100%;
    max-width: 100%;
}

.education .edu .timeline-box1,
.education .edu .timeline-box2
{
   flex: 0 0 100%;
   max-width: 75%; 
   margin-left: 150px;
   margin-right: 50px;
   background-color: lightgoldenrodyellow;
   padding: 30px 15px;
   border: 1px solid var(--bg-white-50);
   border-radius: 10px;
   position: relative;
   transition: all 0.2s ease-in;
   cursor: pointer;
}

.education .edu .timeline-box1
{
    margin-top: -30px;
}

.education .edu .timeline-box2
{
   margin-top: 20px;
}

.education .edu .timeline-box1:hover,
.education .edu .timeline-box2:hover
{
    transform: scale(1.02);
    box-shadow: 5px 5px 10px rgba(48,46,77,0.15) ;
}

.education .edu .timeline1 .timeline-item img
{
    width:23%;
    position: absolute;   
    border-radius: 10px;    
} 

.education .edu .timeline2 .timeline-item img
{
    width:23%;
    position: absolute;   
    border-radius: 10px;     
} 

.education .edu .timeline-item .timeline-title1, 
.education .edu .timeline-item .timeline-title2
{
    color: navy;
    font-size: 22px;
    font-weight: 600;
    margin-left: 26%;
}

.education .edu .timeline-item .timeline-name1, 
.education .edu .timeline-item .timeline-name2
{
    font-weight: 400;
    margin-left: 26%;
}

.education .edu .timeline-item .timeline-date1, 
.education .edu .timeline-item .timeline-date2
{
    color: green;
    font-size: 20px;
    font-weight: 500;
    margin-left: 26%;
}

/* Skills Section*/
.skills
{
    background-color: indigo;
}

.skills .section-title h2
{
    color: white;
}

.skills .section-title h2 span
{
    color: yellow;
}

.skills .service-item1 .icon img,
.skills .service-item2 .icon img,
.skills .service-item3 .icon img,
.skills .service-item4 .icon img,
.skills .service-item5 .icon img,
.skills .service-item6 .icon img,
.skills .service-item7 .icon img,
.skills .service-item8 .icon img
{
    max-width: 15%;
}

.skills .service-item1 h4,
.skills .service-item2 h4,
.skills .service-item3 h4,
.skills .service-item4 h4,
.skills .service-item5 h4,
.skills .service-item6 h4,
.skills .service-item7 h4,
.skills .service-item8 h4
{
    color: var(--bg-white-900);
}

/* Experience Section*/
.experience
{
    background-color: azure;
}

.experience .exp
{
    flex: 0 0 100%;
    max-width: 100%;
}

.experience .exp .timeline-box1
{
    flex: 0 0 100%;
    max-width: 75%; 
    margin-left: 150px;
    margin-right: 50px;
    background-color: lightgoldenrodyellow;
    padding: 30px 15px;
    border: 1px solid var(--bg-white-50);
    border-radius: 10px;
    position: relative;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.experience .exp .timeline-box1:hover
{
    transform: scale(1.02);
    box-shadow: 5px 5px 10px rgba(48,46,77,0.15);
}

.experience .exp .timeline1 .timeline-item img
{
    width:22%;
    height: 70%;
    position: absolute;   
    border-radius: 10px; 
    margin-top: -0.9%;
} 

.experience .exp .timeline-item .timeline-title1
{
    color: navy;
    font-size: 22px;
    font-weight: 600;
    margin-left: 25%;
}

.experience .exp .timeline-item .timeline-name1
{   
    font-weight: 400;
    margin-left: 25%;
}

.experience .exp .timeline-item .timeline-date1
{
    color: green;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25%;
}

/* Work Section*/
.work
{
    background-color: darkblue;
}

.work .section-title h2
{
    color: white;
}

.work .section-title h2 span
{
    color: yellow;
}

/* Contact Section*/
.contact
{
    background-color: azure;
}
